.section-1 {
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 30vw;
    padding-top: 10vw;
    margin-bottom: 14vw;
    background-position: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-image: url('https://dlye1hka1kz5z.cloudfront.net/site/img/hs/home/rotatingNames.gif'), url('https://dlye1hka1kz5z.cloudfront.net/site/img/hs/home/newHeroNoNameWithBleed.jpg');

}

.left-text-wrapper {
    margin-left: 50px;
    padding-left: 20px;
}

.left-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
    align-items: center;
}


.tag-line {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 500;
    max-width: 550px;
}

.tag-line-description {
    font-size: 20px;
    font-weight: 200;
    line-height: 170%;
    max-width: 340px;
}

.quiz-btn {
    background-color: #06038D;
    margin-top: 30px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;

}